* {
  box-sizing: border-box;
}

b    .foto-perfil {
  height: 100%;
  width: auto;
  max-width: 100%;
  border-radius: 50%;
  background-color: black;
}

.corPrimaria {
  background-color: blueviolet;
}

.corSecundaria {
  background-color: azure;

}
.email{
color: black;

}
p {
  font-family: Lato, 'Halvetica neue', Arial, Helvetica, sans-serif;
  color: white;
}

.icones {
  padding-left: 5px;
  color: white;
  zoom: 4;
}

.titulosBrancos {
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  background-image: url("imagens/Imagem_fundo_7.jpg");
  font-weight: 700;
  color: white;
}

.titulosAzul {
  text-decoration: underline;
  text-underline-position: below;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: cornflowerblue;
}

.textoBranco {
  color: white !important;
  font-weight: bolder;
  opacity: 1.0;
}

.textoPreto {
  color: black !important;
}

.jumbotron {
  margin-bottom: 0px;
}

.fundoRoxo {
  opacity: 0.8;
}


.body {
  background-image: url("imagens/Imagem_fundo_7.jpg");
  background-size: contain;
}

.btn {
  color: azure;
  background-color: blueviolet;
  font-weight: bolder;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}